<img  src="">


 #                                           Datos Meteorol√≥gicos 2020 Municipio de Madrid

### Autor: Alicia Ruiz Moreno

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('meteo20.csv', sep=';')

In [3]:
data

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,102,81,28079102_81_98,2020,1,0.64,V,0.70,...,2.02,V,3.15,V,2.48,V,2.45,V,2.06,V
1,28,79,102,81,28079102_81_98,2020,2,2.58,V,0.68,...,2.75,V,1.17,V,4.19,V,0.00,N,0.00,N
2,28,79,102,81,28079102_81_98,2020,3,4.18,V,6.13,...,2.67,V,1.22,V,1.38,V,4.67,V,2.83,V
3,28,79,102,81,28079102_81_98,2020,4,1.28,V,1.89,...,2.60,V,2.36,V,2.83,V,3.78,V,0.00,N
4,28,79,102,81,28079102_81_98,2020,5,2.88,V,1.87,...,2.90,V,2.40,V,1.71,V,1.89,V,2.32,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1087,28,79,59,89,28079059_89_98,2020,8,0.00,V,0.00,...,0.00,V,0.00,V,0.00,V,0.00,V,0.00,V
1088,28,79,59,89,28079059_89_98,2020,9,0.00,V,0.00,...,0.00,V,0.00,V,0.00,V,0.90,V,0.00,N
1089,28,79,59,89,28079059_89_98,2020,10,0.00,V,5.50,...,0.10,V,0.00,V,0.00,V,0.00,V,0.00,V
1090,28,79,59,89,28079059_89_98,2020,11,0.00,V,0.00,...,8.10,V,0.00,V,0.00,V,0.00,V,0.00,N
1091,28,79,59,89,28079059_89_98,2020,12,0.00,V,0.20,...,0.00,V,1.60,V,0.00,V,0.00,V,0.70,V

In [4]:
df=pd.DataFrame(data)

In [5]:
df

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,102,81,28079102_81_98,2020,1,0.64,V,0.70,...,2.02,V,3.15,V,2.48,V,2.45,V,2.06,V
1,28,79,102,81,28079102_81_98,2020,2,2.58,V,0.68,...,2.75,V,1.17,V,4.19,V,0.00,N,0.00,N
2,28,79,102,81,28079102_81_98,2020,3,4.18,V,6.13,...,2.67,V,1.22,V,1.38,V,4.67,V,2.83,V
3,28,79,102,81,28079102_81_98,2020,4,1.28,V,1.89,...,2.60,V,2.36,V,2.83,V,3.78,V,0.00,N
4,28,79,102,81,28079102_81_98,2020,5,2.88,V,1.87,...,2.90,V,2.40,V,1.71,V,1.89,V,2.32,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1087,28,79,59,89,28079059_89_98,2020,8,0.00,V,0.00,...,0.00,V,0.00,V,0.00,V,0.00,V,0.00,V
1088,28,79,59,89,28079059_89_98,2020,9,0.00,V,0.00,...,0.00,V,0.00,V,0.00,V,0.90,V,0.00,N
1089,28,79,59,89,28079059_89_98,2020,10,0.00,V,5.50,...,0.10,V,0.00,V,0.00,V,0.00,V,0.00,V
1090,28,79,59,89,28079059_89_98,2020,11,0.00,V,0.00,...,8.10,V,0.00,V,0.00,V,0.00,V,0.00,N
1091,28,79,59,89,28079059_89_98,2020,12,0.00,V,0.20,...,0.00,V,1.60,V,0.00,V,0.00,V,0.70,V

In [6]:
import datetime

In [7]:
def Reshape(df):
    for i, row in df.iterrows():
        df.loc[i,'01'] = str(row['D01']) + row ['V01']
        df.loc[i,'02'] = str(row['D02']) + row ['V02']
        df.loc[i,'03'] = str(row['D03']) + row ['V03']
        df.loc[i,'04'] = str(row['D04']) + row ['V04']
        df.loc[i,'05'] = str(row['D05']) + row ['V05']
        df.loc[i,'06'] = str(row['D06']) + row ['V06']
        df.loc[i,'07'] = str(row['D07']) + row ['V07']
        df.loc[i,'08'] = str(row['D08']) + row ['V08']
        df.loc[i,'09'] = str(row['D09']) + row ['V09']
        df.loc[i,'10'] = str(row['D10']) + row ['V10']
        df.loc[i,'11'] = str(row['D11']) + row ['V11']
        df.loc[i,'12'] = str(row['D12']) + row ['V12']
        df.loc[i,'13'] = str(row['D13']) + row ['V13']
        df.loc[i,'14'] = str(row['D14']) + row ['V14']
        df.loc[i,'15'] = str(row['D15']) + row ['V15']
        df.loc[i,'16'] = str(row['D16']) + row ['V16']
        df.loc[i,'17'] = str(row['D17']) + row ['V17']
        df.loc[i,'18'] = str(row['D18']) + row ['V18']
        df.loc[i,'19'] = str(row['D19']) + row ['V19']
        df.loc[i,'20'] = str(row['D20']) + row ['V20']
        df.loc[i,'21'] = str(row['D21']) + row ['V21']
        df.loc[i,'22'] = str(row['D22']) + row ['V22']
        df.loc[i,'23'] = str(row['D23']) + row ['V23']
        df.loc[i,'24'] = str(row['D24']) + row ['V24']
        df.loc[i,'25'] = str(row['D25']) + row ['V25']
        df.loc[i,'26'] = str(row['D26']) + row ['V26']
        df.loc[i,'27'] = str(row['D27']) + row ['V27']
        df.loc[i,'28'] = str(row['D28']) + row ['V28']
        df.loc[i,'29'] = str(row['D29']) + row ['V29']
        df.loc[i,'30'] = str(row['D30']) + row ['V30']
        df.loc[i,'31'] = str(row['D31']) + row ['V31']
    
    df = df.drop(['D01', 'V01', 'D02', 'V02', 'D03', 'V03', 'D04', 'V04', 'D05', 'V05', 'D06', 'V06', 'D07', 'V07', 
                  'D08', 'V08', 'D09', 'V09', 'D10', 'V10', 'D11', 'V11', 'D12', 'V12', 'D13', 'V13', 'D14', 'V14',
                  'D15', 'V15', 'D16', 'V16', 'D17', 'V17', 'D18', 'V18', 'D19', 'V19', 'D20', 'V20', 'D21', 'V21', 
                  'D22', 'V22', 'D23', 'V23', 'D24', 'V24', 'D25', 'V25', 'D26', 'V26', 'D27', 'V27', 'D28', 'V28', 
                  'D29', 'V29', 'D30', 'V30', 'D31', 'V31'], axis = 1)
    
    df = pd.melt(df, id_vars = ['PROVINCIA', 'MUNICIPIO', 'ESTACION', 'MAGNITUD', 'PUNTO_MUESTREO', 'ANO', 'MES'],
                var_name = 'DIA',
                value_name = 'valor')
    
    df = df[~((df['MES'].isin([4,6,9,11])) & (df['DIA']==str(31)))]
    df = df[~((df['MES'] == 2) & (df['DIA'].isin([str(29), str(30), str(31)])) & (df['ANO']== 2019))]
    df = df[~((df['MES'] == 2) & (df['DIA'].isin([str(30), str(31)])) & (df['ANO']== 2020))]
    df = df[~((df['MES'] == 2) & (df['DIA'].isin([str(29), str(30), str(31)])) & (df['ANO']== 2021))]
    df = df[~((df['MES'] == 2) & (df['DIA'].isin([str(29), str(30), str(31)])) & (df['ANO']== 2022))]
    df = df[~((df['MES'] == 2) & (df['DIA'].isin([str(29), str(30), str(31)])) & (df['ANO']== 2023))]
    
    df.rename(columns = {'ANO': 'year', 'MES': 'month', 'DIA': 'day'}, inplace=True)
    df['year'] = df['year'].astype(int)
    df['month'] = df['month'].astype(int)
    df['day'] = df['day'].astype(int)
    
    df['Datetime'] = ''
    for i, row in df.iterrows():
        df.at[i, 'Datetime'] = datetime.date(year = row['year'], day = row['day'], month = row['month'])
    
    for i, row in df.iterrows():
        df.loc[i,'validacion'] = row['valor'][len(row['valor'])-1]
        df.loc[i, 'valor'] = row['valor'][0:len(row['valor'])-1]
    
    df = df[df['validacion']== 'V']
    df['valor'] = df['valor'].astype('float')
    for i, row in df.iterrows():
        df.loc[i,'id'] = str(row['Datetime']) + '-' + str(row['ESTACION'])
    
    return(df)

In [8]:
df1 = Reshape(df)

In [9]:
df1

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,year,month,day,valor,Datetime,validacion,id
0,28,79,102,81,28079102_81_98,2020,1,1,0.64,2020-01-01,V,2020-01-01-102
1,28,79,102,81,28079102_81_98,2020,2,1,2.58,2020-02-01,V,2020-02-01-102
2,28,79,102,81,28079102_81_98,2020,3,1,4.18,2020-03-01,V,2020-03-01-102
3,28,79,102,81,28079102_81_98,2020,4,1,1.28,2020-04-01,V,2020-04-01-102
4,28,79,102,81,28079102_81_98,2020,5,1,2.88,2020-05-01,V,2020-05-01-102
...,...,...,...,...,...,...,...,...,...,...,...,...
33844,28,79,59,89,28079059_89_98,2020,5,31,4.40,2020-05-31,V,2020-05-31-59
33846,28,79,59,89,28079059_89_98,2020,7,31,0.00,2020-07-31,V,2020-07-31-59
33847,28,79,59,89,28079059_89_98,2020,8,31,0.00,2020-08-31,V,2020-08-31-59
33849,28,79,59,89,28079059_89_98,2020,10,31,0.00,2020-10-31,V,2020-10-31-59
33851,28,79,59,89,28079059_89_98,2020,12,31,0.70,2020-12-31,V,2020-12-31-59

In [10]:
df1['MAGNITUD'].unique()

array([81, 82, 83, 86, 87, 88, 89])

In [11]:
df1['MAGNITUD'] = df1['MAGNITUD'].replace({80: 'RU', 81: 'VV', 82: 'DV', 83: 'TEMP', 86: 'HR', 87: 'PB', 88: 'RS',
                                        89: 'P'})

In [11]:
df1.shape

(32325, 12)

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32325 entries, 0 to 33851
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PROVINCIA       32325 non-null  int64
 1   MUNICIPIO       32325 non-null  int64
 2   ESTACION        32325 non-null  int64
 3   MAGNITUD        32325 non-null  object
 4   PUNTO_MUESTREO  32325 non-null  object
 5   year            32325 non-null  int64
 6   month           32325 non-null  int64
 7   day             32325 non-null  int64
 8   valor           32325 non-null  float64
 9   Datetime        32325 non-null  object
 10  validacion      32325 non-null  object
 11  id              32325 non-null  object
dtypes: float64(1), int64(6), object(5)
memory usage: 4.2+ MB

In [13]:
df1.to_csv("2020_METEO.csv", index=False)

In [14]:
df1.duplicated().sum()

0

## ANALISIS SERIE TEMPORAL

- Temperatura

In [15]:
time_TEMP = df1[['Datetime', 'valor']][df1['MAGNITUD'] == 'TEMP']

In [16]:
time_TEMP['Datetime'] = pd.to_datetime(time_TEMP['Datetime'])

In [17]:
time_TEMP['year'] = time_TEMP['Datetime'].dt.year
time_TEMP['month'] = time_TEMP['Datetime'].dt.month

In [18]:
temperatura_promedio = time_TEMP.groupby(['year', 'month'])['valor'].mean().reset_index()

In [19]:
print(temperatura_promedio)

    year  month      valor
0   2020      1   6.498263
1   2020      2  10.317886
2   2020      3  10.941475
3   2020      4  13.560995
4   2020      5  19.521169
5   2020      6  22.474590
6   2020      7  28.368445
7   2020      8  25.595827
8   2020      9  20.754891
9   2020     10  13.872384
10  2020     11  11.125538
11  2020     12   7.165936

- Precipitaci√≥n

In [20]:
time_P = df1[['Datetime', 'valor']][df1['MAGNITUD'] == 'P']

In [21]:
time_P['Datetime'] = pd.to_datetime(time_P['Datetime'])

In [22]:
time_P['year'] = time_P['Datetime'].dt.year
time_P['month'] = time_P['Datetime'].dt.month

In [23]:
precipitacion_promedio = time_P.groupby(['year', 'month'])['valor'].mean().reset_index()

In [24]:
print(precipitacion_promedio)

    year  month     valor
0   2020      1  0.461716
1   2020      2  0.008304
2   2020      3  1.338710
3   2020      4  1.654237
4   2020      5  1.042581
5   2020      6  0.174194
6   2020      7  0.108711
7   2020      8  0.674675
8   2020      9  1.728763
9   2020     10  1.623183
10  2020     11  1.778621
11  2020     12  0.577742

- Humedad relativa

In [25]:
time_HR = df1[['Datetime', 'valor']][df1['MAGNITUD'] == 'HR']

In [26]:
time_HR['Datetime'] = pd.to_datetime(time_HR['Datetime'])

In [27]:
time_HR['year'] = time_HR['Datetime'].dt.year
time_HR['month'] = time_HR['Datetime'].dt.month

In [28]:
humedad_promedio = time_HR.groupby(['year', 'month'])['valor'].mean().reset_index()
print(humedad_promedio)

    year  month      valor
0   2020      1  73.724679
1   2020      2  68.446774
2   2020      3  62.579179
3   2020      4  67.187786
4   2020      5  51.767228
5   2020      6  39.977011
6   2020      7  30.757622
7   2020      8  36.071942
8   2020      9  46.895044
9   2020     10  61.278020
10  2020     11  78.472477
11  2020     12  75.043668

- Radiaci√≥n Solar

In [29]:
time_RS = df1[['Datetime', 'valor']][df1['MAGNITUD'] == 'RS']

In [30]:
time_RS['Datetime'] = pd.to_datetime(time_RS['Datetime'])

In [31]:
time_RS['year'] = time_RS['Datetime'].dt.year
time_RS['month'] = time_RS['Datetime'].dt.month

In [32]:
radiacion_solar_promedio = time_RS.groupby(['year', 'month'])['valor'].mean().reset_index()
print(radiacion_solar_promedio)

    year  month       valor
0   2020      1   76.534979
1   2020      2  124.284483
2   2020      3  158.766129
3   2020      4  201.029661
4   2020      5  283.141129
5   2020      6  322.755656
6   2020      7  319.756637
7   2020      8  279.077236
8   2020      9  211.196653
9   2020     10  148.250000
10  2020     11   82.546218
11  2020     12   73.294355

- Velocidad del viento

In [33]:
time_VV = df1[['Datetime', 'valor']][df1['MAGNITUD'] == 'VV']

In [34]:
time_VV['Datetime'] = pd.to_datetime(time_VV['Datetime'])

In [35]:
time_VV['year'] = time_VV['Datetime'].dt.year
time_VV['month'] = time_VV['Datetime'].dt.month

In [36]:
velocidad_viento_promedio = time_VV.groupby(['year', 'month'])['valor'].mean().reset_index()
print(velocidad_viento_promedio)

    year  month     valor
0   2020      1  1.156743
1   2020      2  0.946379
2   2020      3  1.603129
3   2020      4  1.284441
4   2020      5  1.360677
5   2020      6  1.553179
6   2020      7  1.543624
7   2020      8  1.337955
8   2020      9  1.265151
9   2020     10  1.256871
10  2020     11  0.823232
11  2020     12  1.491774

- Estructuramos la tabla para que sea m√°s sencillo de visualizar.

In [12]:
df1_pivot = df1.pivot_table('valor', ['ESTACION', 'Datetime'], 'MAGNITUD')

In [13]:
df1_pivot

MAGNITUD             DV    HR   P  PB  RS  TEMP  VV
ESTACION Datetime
4        2020-01-01 NaN   NaN NaN NaN NaN   5.0 NaN
         2020-01-02 NaN   NaN NaN NaN NaN   4.6 NaN
         2020-01-03 NaN   NaN NaN NaN NaN   2.7 NaN
         2020-01-04 NaN   NaN NaN NaN NaN   4.8 NaN
         2020-01-05 NaN   NaN NaN NaN NaN   4.6 NaN
...                  ..   ...  ..  ..  ..   ...  ..
115      2020-12-27 NaN  74.0 NaN NaN NaN   3.0 NaN
         2020-12-28 NaN  63.0 NaN NaN NaN   7.5 NaN
         2020-12-29 NaN  70.0 NaN NaN NaN   5.1 NaN
         2020-12-30 NaN  59.0 NaN NaN NaN   5.4 NaN
         2020-12-31 NaN  80.0 NaN NaN NaN   3.9 NaN

[9051 rows x 7 columns]

In [14]:
df1_pivot['RU'] = 0

In [15]:
df1_pivot

MAGNITUD             DV    HR   P  PB  RS  TEMP  VV  RU
ESTACION Datetime
4        2020-01-01 NaN   NaN NaN NaN NaN   5.0 NaN   0
         2020-01-02 NaN   NaN NaN NaN NaN   4.6 NaN   0
         2020-01-03 NaN   NaN NaN NaN NaN   2.7 NaN   0
         2020-01-04 NaN   NaN NaN NaN NaN   4.8 NaN   0
         2020-01-05 NaN   NaN NaN NaN NaN   4.6 NaN   0
...                  ..   ...  ..  ..  ..   ...  ..  ..
115      2020-12-27 NaN  74.0 NaN NaN NaN   3.0 NaN   0
         2020-12-28 NaN  63.0 NaN NaN NaN   7.5 NaN   0
         2020-12-29 NaN  70.0 NaN NaN NaN   5.1 NaN   0
         2020-12-30 NaN  59.0 NaN NaN NaN   5.4 NaN   0
         2020-12-31 NaN  80.0 NaN NaN NaN   3.9 NaN   0

[9051 rows x 8 columns]

In [16]:
df1_pivot.columns

Index(['DV', 'HR', 'P', 'PB', 'RS', 'TEMP', 'VV', 'RU'], dtype='object', name='MAGNITUD')

In [17]:
nuevo_orden_columnas = ['DV', 'HR', 'P', 'PB', 'RS', 'RU', 'TEMP', 'VV']
df1_pivot = df1_pivot[nuevo_orden_columnas]

In [18]:
df1_pivot

MAGNITUD             DV    HR   P  PB  RS  RU  TEMP  VV
ESTACION Datetime
4        2020-01-01 NaN   NaN NaN NaN NaN   0   5.0 NaN
         2020-01-02 NaN   NaN NaN NaN NaN   0   4.6 NaN
         2020-01-03 NaN   NaN NaN NaN NaN   0   2.7 NaN
         2020-01-04 NaN   NaN NaN NaN NaN   0   4.8 NaN
         2020-01-05 NaN   NaN NaN NaN NaN   0   4.6 NaN
...                  ..   ...  ..  ..  ..  ..   ...  ..
115      2020-12-27 NaN  74.0 NaN NaN NaN   0   3.0 NaN
         2020-12-28 NaN  63.0 NaN NaN NaN   0   7.5 NaN
         2020-12-29 NaN  70.0 NaN NaN NaN   0   5.1 NaN
         2020-12-30 NaN  59.0 NaN NaN NaN   0   5.4 NaN
         2020-12-31 NaN  80.0 NaN NaN NaN   0   3.9 NaN

[9051 rows x 8 columns]

In [19]:
df1_pivot.to_csv("2020_METEO_pivot.csv")

- Valores duplicados

In [39]:
df1_pivot.duplicated().sum()

1746

Valores faltantes (NaN)

In [40]:
df1_pivot.isnull().sum().sum()

31032

In [42]:
df1_pivot.to_csv("2020_METEO_pivot.csv")