<img  src="">


 #                                           Datos Calidad del Aire 2020 Municipio de Madrid

### Autor: Alicia Ruiz Moreno

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('datos202012.csv', encoding='latin-1', sep=';')

In [3]:
df = pd.DataFrame(data)

In [4]:
df

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,4,1,28079004_1_38,2020,1,9.0,V,10.0,...,0.0,N,0.0,N,0.0,N,6.0,N,7.0,V
1,28,79,4,1,28079004_1_38,2020,2,8.0,V,9.0,...,9.0,V,11.0,V,1.0,N,0.0,N,0.0,N
2,28,79,4,1,28079004_1_38,2020,3,0.0,N,3.0,...,0.0,N,0.0,N,0.0,N,0.0,N,0.0,N
3,28,79,4,1,28079004_1_38,2020,4,0.0,N,0.0,...,0.0,N,0.0,N,14.0,N,8.0,V,0.0,N
4,28,79,4,1,28079004_1_38,2020,5,5.0,V,4.0,...,4.0,V,4.0,V,4.0,V,4.0,V,4.0,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,28,79,60,14,28079060_14_6,2020,8,86.0,V,81.0,...,83.0,V,66.0,V,67.0,V,73.0,V,68.0,V
1832,28,79,60,14,28079060_14_6,2020,9,55.0,V,84.0,...,67.0,V,48.0,V,50.0,N,61.0,V,0.0,N
1833,28,79,60,14,28079060_14_6,2020,10,63.0,V,59.0,...,49.0,V,11.0,V,22.0,V,16.0,V,22.0,V
1834,28,79,60,14,28079060_14_6,2020,11,26.0,V,21.0,...,32.0,V,33.0,V,24.0,V,14.0,V,0.0,N
1835,28,79,60,14,28079060_14_6,2020,12,24.0,V,51.0,...,29.0,V,62.0,V,49.0,V,50.0,V,38.0,V

- Modificación de la estructura

In [5]:
import datetime

In [6]:
def Reshape(df):
    for i, row in df.iterrows():
        df.loc[i,'01'] = str(row['D01']) + row ['V01']
        df.loc[i,'02'] = str(row['D02']) + row ['V02']
        df.loc[i,'03'] = str(row['D03']) + row ['V03']
        df.loc[i,'04'] = str(row['D04']) + row ['V04']
        df.loc[i,'05'] = str(row['D05']) + row ['V05']
        df.loc[i,'06'] = str(row['D06']) + row ['V06']
        df.loc[i,'07'] = str(row['D07']) + row ['V07']
        df.loc[i,'08'] = str(row['D08']) + row ['V08']
        df.loc[i,'09'] = str(row['D09']) + row ['V09']
        df.loc[i,'10'] = str(row['D10']) + row ['V10']
        df.loc[i,'11'] = str(row['D11']) + row ['V11']
        df.loc[i,'12'] = str(row['D12']) + row ['V12']
        df.loc[i,'13'] = str(row['D13']) + row ['V13']
        df.loc[i,'14'] = str(row['D14']) + row ['V14']
        df.loc[i,'15'] = str(row['D15']) + row ['V15']
        df.loc[i,'16'] = str(row['D16']) + row ['V16']
        df.loc[i,'17'] = str(row['D17']) + row ['V17']
        df.loc[i,'18'] = str(row['D18']) + row ['V18']
        df.loc[i,'19'] = str(row['D19']) + row ['V19']
        df.loc[i,'20'] = str(row['D20']) + row ['V20']
        df.loc[i,'21'] = str(row['D21']) + row ['V21']
        df.loc[i,'22'] = str(row['D22']) + row ['V22']
        df.loc[i,'23'] = str(row['D23']) + row ['V23']
        df.loc[i,'24'] = str(row['D24']) + row ['V24']
        df.loc[i,'25'] = str(row['D25']) + row ['V25']
        df.loc[i,'26'] = str(row['D26']) + row ['V26']
        df.loc[i,'27'] = str(row['D27']) + row ['V27']
        df.loc[i,'28'] = str(row['D28']) + row ['V28']
        df.loc[i,'29'] = str(row['D29']) + row ['V29']
        df.loc[i,'30'] = str(row['D30']) + row ['V30']
        df.loc[i,'31'] = str(row['D31']) + row ['V31']
    
    df = df.drop(['D01', 'V01', 'D02', 'V02', 'D03', 'V03', 'D04', 'V04', 'D05', 'V05', 'D06', 'V06', 'D07', 'V07', 
                  'D08', 'V08', 'D09', 'V09', 'D10', 'V10', 'D11', 'V11', 'D12', 'V12', 'D13', 'V13', 'D14', 'V14',
                  'D15', 'V15', 'D16', 'V16', 'D17', 'V17', 'D18', 'V18', 'D19', 'V19', 'D20', 'V20', 'D21', 'V21', 
                  'D22', 'V22', 'D23', 'V23', 'D24', 'V24', 'D25', 'V25', 'D26', 'V26', 'D27', 'V27', 'D28', 'V28', 
                  'D29', 'V29', 'D30', 'V30', 'D31', 'V31'], axis = 1)
    
    df = pd.melt(df, id_vars = ['PROVINCIA', 'MUNICIPIO', 'ESTACION', 'MAGNITUD', 'PUNTO_MUESTREO', 'ANO', 'MES'],
                var_name = 'DIA',
                value_name = 'valor')
    
    df = df[~((df['MES'].isin([4,6,9,11])) & (df['DIA']==str(31)))]
    df = df[~((df['MES'] == 2) & (df['DIA'].isin([str(29), str(30), str(31)])) & (df['ANO']== 2019))]
    df = df[~((df['MES'] == 2) & (df['DIA'].isin([str(30), str(31)])) & (df['ANO']== 2020))]
    df = df[~((df['MES'] == 2) & (df['DIA'].isin([str(29), str(30), str(31)])) & (df['ANO']== 2021))]
    df = df[~((df['MES'] == 2) & (df['DIA'].isin([str(29), str(30), str(31)])) & (df['ANO']== 2022))]
    df = df[~((df['MES'] == 2) & (df['DIA'].isin([str(29), str(30), str(31)])) & (df['ANO']== 2023))]
    
    df.rename(columns = {'ANO': 'year', 'MES': 'month', 'DIA': 'day'}, inplace=True)
    df['year'] = df['year'].astype(int)
    df['month'] = df['month'].astype(int)
    df['day'] = df['day'].astype(int)
    
    df['Datetime'] = ''
    for i, row in df.iterrows():
        df.at[i, 'Datetime'] = datetime.date(year = row['year'], day = row['day'], month = row['month'])
    
    for i, row in df.iterrows():
        df.loc[i,'validacion'] = row['valor'][len(row['valor'])-1]
        df.loc[i, 'valor'] = row['valor'][0:len(row['valor'])-1]
    
    df = df[df['validacion']== 'V']
    df['valor'] = df['valor'].astype('float')
    for i, row in df.iterrows():
        df.loc[i,'id'] = str(row['Datetime']) + '-' + str(row['ESTACION'])
    
    return(df)

In [7]:
df1 = Reshape(df)

In [8]:
df1

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,year,month,day,valor,Datetime,validacion,id
0,28,79,4,1,28079004_1_38,2020,1,1,9.0,2020-01-01,V,2020-01-01-4
1,28,79,4,1,28079004_1_38,2020,2,1,8.0,2020-02-01,V,2020-02-01-4
4,28,79,4,1,28079004_1_38,2020,5,1,5.0,2020-05-01,V,2020-05-01-4
5,28,79,4,1,28079004_1_38,2020,6,1,4.0,2020-06-01,V,2020-06-01-4
6,28,79,4,1,28079004_1_38,2020,7,1,4.0,2020-07-01,V,2020-07-01-4
...,...,...,...,...,...,...,...,...,...,...,...,...
56908,28,79,60,14,28079060_14_6,2020,5,31,92.0,2020-05-31,V,2020-05-31-60
56910,28,79,60,14,28079060_14_6,2020,7,31,85.0,2020-07-31,V,2020-07-31-60
56911,28,79,60,14,28079060_14_6,2020,8,31,68.0,2020-08-31,V,2020-08-31-60
56913,28,79,60,14,28079060_14_6,2020,10,31,22.0,2020-10-31,V,2020-10-31-60
56915,28,79,60,14,28079060_14_6,2020,12,31,38.0,2020-12-31,V,2020-12-31-60

In [9]:
df1['MAGNITUD'] = df1['MAGNITUD'].replace({1: 'SO2', 6: 'CO', 7: 'NO', 8: 'NO2', 12: 'NOX', 9: 'PM2.5', 10: 'PM10',
                                        14: 'O3', 20: 'TOL', 30: 'BEN', 35: 'EBE', 42: 'TCH', 43: 'CH4', 44: 'NMHC'})

In [10]:
df1.shape

(54897, 12)

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54897 entries, 0 to 56915
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PROVINCIA       54897 non-null  int64
 1   MUNICIPIO       54897 non-null  int64
 2   ESTACION        54897 non-null  int64
 3   MAGNITUD        54897 non-null  object
 4   PUNTO_MUESTREO  54897 non-null  object
 5   year            54897 non-null  int64
 6   month           54897 non-null  int64
 7   day             54897 non-null  int64
 8   valor           54897 non-null  float64
 9   Datetime        54897 non-null  object
 10  validacion      54897 non-null  object
 11  id              54897 non-null  object
dtypes: float64(1), int64(6), object(5)
memory usage: 7.5+ MB

In [12]:
df1.duplicated().sum()

0

In [13]:
df1.to_csv("2020_AIRE.csv", index=False)

- Estructuramos la tabla para que sea más sencillo de visualizar.

In [14]:
df1_pivot = df1.pivot_table('valor', ['ESTACION', 'Datetime'], 'MAGNITUD')

In [15]:
df1_pivot

MAGNITUD             BEN  CH4   CO  EBE  NMHC     NO   NO2    NOX    O3  PM10  \
ESTACION Datetime
4        2020-01-01  NaN  NaN  0.7  NaN   NaN   80.0  58.0  181.0   NaN   NaN
         2020-01-02  NaN  NaN  0.7  NaN   NaN  116.0  70.0  247.0   NaN   NaN
         2020-01-03  NaN  NaN  0.8  NaN   NaN  131.0  72.0  273.0   NaN   NaN
         2020-01-04  NaN  NaN  0.4  NaN   NaN   41.0  42.0  104.0   NaN   NaN
         2020-01-05  NaN  NaN  0.5  NaN   NaN   53.0  56.0  137.0   NaN   NaN
...                  ...  ...  ...  ...   ...    ...   ...    ...   ...   ...
60       2020-12-27  NaN  NaN  NaN  NaN   NaN   10.0  35.0   50.0  29.0   6.0
         2020-12-28  NaN  NaN  NaN  NaN   NaN    2.0  15.0   18.0  62.0   5.0
         2020-12-29  NaN  NaN  NaN  NaN   NaN    3.0  22.0   26.0  49.0   6.0
         2020-12-30  NaN  NaN  NaN  NaN   NaN    3.0  31.0   36.0  50.0   6.0
         2020-12-31  NaN  NaN  NaN  NaN   NaN   11.0  35.0   52.0  38.0   6.0

MAGNITUD             PM2.5   SO2  TCH  TOL
ESTACION Datetime
4        2020-01-01    NaN   9.0  NaN  NaN
         2020-01-02    NaN  10.0  NaN  NaN
         2020-01-03    NaN   9.0  NaN  NaN
         2020-01-04    NaN   7.0  NaN  NaN
         2020-01-05    NaN   8.0  NaN  NaN
...                    ...   ...  ...  ...
60       2020-12-27    NaN   NaN  NaN  NaN
         2020-12-28    NaN   NaN  NaN  NaN
         2020-12-29    NaN   NaN  NaN  NaN
         2020-12-30    NaN   NaN  NaN  NaN
         2020-12-31    NaN   NaN  NaN  NaN

[8679 rows x 14 columns]

- Valores duplicados

In [16]:
df1_pivot.duplicated().sum()

201

- Valores faltantes (NaN)

In [17]:
df1_pivot.isnull().sum().sum()

66609

In [29]:
df1_pivot.to_csv("2020_AIRE_pivot.csv")

## ANALISIS TEMPORAL

- O3

In [18]:
time_O3 = df1[['Datetime', 'valor']][df1['MAGNITUD'] == 'O3']
time_O3['Datetime'] = pd.to_datetime(time_O3['Datetime'])
time_O3['year'] = time_O3['Datetime'].dt.year
time_O3['month'] = time_O3['Datetime'].dt.month

In [19]:
total_suma = time_O3['valor'].sum()
print(f"La suma total de 'mi_columna' es: {total_suma}")

La suma total de 'mi_columna' es: 255091.0

- PM10

In [20]:
time_PM10 = df1[['Datetime', 'valor']][df1['MAGNITUD'] == 'PM10']
time_PM10['Datetime'] = pd.to_datetime(time_PM10['Datetime'])
time_PM10['year'] = time_PM10['Datetime'].dt.year
time_PM10['month'] = time_PM10['Datetime'].dt.month

In [21]:
total_suma = time_PM10['valor'].sum()
print(f"La suma total de 'mi_columna' es: {total_suma}")

La suma total de 'mi_columna' es: 76690.0

- PM2.5

In [22]:
time_PM25 = df1[['Datetime', 'valor']][df1['MAGNITUD'] == 'PM2.5']
time_PM25['Datetime'] = pd.to_datetime(time_PM25['Datetime'])
time_PM25['year'] = time_PM25['Datetime'].dt.year
time_PM25['month'] = time_PM25['Datetime'].dt.month

In [23]:
total_suma = time_PM25['valor'].sum()
print(f"La suma total de 'mi_columna' es: {total_suma}")

La suma total de 'mi_columna' es: 23360.0

- NOX

In [24]:
time_NOX = df1[['Datetime', 'valor']][df1['MAGNITUD'] == 'NOX']
time_NOX['Datetime'] = pd.to_datetime(time_NOX['Datetime'])
time_NOX['year'] = time_NOX['Datetime'].dt.year
time_NOX['month'] = time_NOX['Datetime'].dt.month

In [25]:
total_suma = time_NOX['valor'].sum()
print(f"La suma total de 'mi_columna' es: {total_suma}")

La suma total de 'mi_columna' es: 400610.0

- CO

In [26]:
time_CO = df1[['Datetime', 'valor']][df1['MAGNITUD'] == 'CO']
time_CO['Datetime'] = pd.to_datetime(time_CO['Datetime'])
time_CO['year'] = time_CO['Datetime'].dt.year
time_CO['month'] = time_CO['Datetime'].dt.month

In [27]:
total_suma = time_CO['valor'].sum()
print(f"La suma total de 'mi_columna' es: {total_suma}")

La suma total de 'mi_columna' es: 1038.8000000000002