In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('parque_vehiculos_2022.csv', encoding='latin-1', sep=';')

In [3]:
df = pd.DataFrame(data)

In [4]:
df

,ï»¿EJERICIO,COD_TIPO_PERSONA,TIPO_PERSONA,COD_DISTRITO,DISTRITO,COD_BARRIO,BARRIO,COD_TIPO_VEHÃCULO,TIPO_VEHÃCULO,ETIQUETA_MEDIOAMBIENTAL,CLASIFICACIÃN_AMBIENTAL,CUOTA,TIPO_CARBURANTE,AÃO_MATRICULACIÃN,CONTADOR
0,2022,E,Ente sin Personalidad Art 35.4,0,--,0,--,CA,CAMION,--,Sin clasificaciÃ³n ambiental,73,Tipo carburante desconocido,2013,1
1,2022,E,Ente sin Personalidad Art 35.4,0,--,0,--,CA,CAMION,--,Sin clasificaciÃ³n ambiental,73,DIESEL,2006,1
2,2022,E,Ente sin Personalidad Art 35.4,0,--,0,--,CA,CAMION,--,Sin clasificaciÃ³n ambiental,73,DIESEL,2007,1
3,2022,E,Ente sin Personalidad Art 35.4,0,--,0,--,CA,CAMION,--,Sin clasificaciÃ³n ambiental,73,DIESEL,2009,1
4,2022,E,Ente sin Personalidad Art 35.4,0,--,0,--,CA,CAMION,--,Sin clasificaciÃ³n ambiental,73,DIESEL,2015,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180340,2022,J,JurÃ­dica,21,BARAJAS,215,CORRALEJOS,TU,TURISMO,,Sin distintivo Ambiental,129,DIESEL,2001,1
180341,2022,J,JurÃ­dica,21,BARAJAS,215,CORRALEJOS,TU,TURISMO,,Sin distintivo Ambiental,129,DIESEL,2003,1
180342,2022,J,JurÃ­dica,21,BARAJAS,215,CORRALEJOS,TU,TURISMO,,Sin distintivo Ambiental,129,DIESEL,2005,1
180343,2022,J,JurÃ­dica,21,BARAJAS,215,CORRALEJOS,TU,TURISMO,,Sin distintivo Ambiental,129,GASOLINA,2000,1
180344,2022,J,JurÃ­dica,21,BARAJAS,215,CORRALEJOS,TU,TURISMO,,Sin distintivo Ambiental,224,GASOLINA,2003,1

In [6]:
df.columns

Index(['ï»¿EJERICIO', 'COD_TIPO_PERSONA', 'TIPO_PERSONA', 'COD_DISTRITO',
       'DISTRITO', 'COD_BARRIO', 'BARRIO', 'COD_TIPO_VEHÃCULO',
       'TIPO_VEHÃCULO', 'ETIQUETA_MEDIOAMBIENTAL', 'CLASIFICACIÃN_AMBIENTAL',
       'CUOTA', 'TIPO_CARBURANTE', 'AÃO_MATRICULACIÃN', 'CONTADOR'],
      dtype='object')

In [8]:
# Filtrar
columnas_deseadas = ["DISTRITO", "CONTADOR"]
df_filtrado = df[columnas_deseadas]

In [9]:
resultados = df_filtrado.groupby("DISTRITO")["CONTADOR"].sum().reset_index()

In [10]:
resultados

                 DISTRITO  CONTADOR
0                      --    177081
1              ARGANZUELA     72906
2                 BARAJAS     27368
3             CARABANCHEL    107977
4                  CENTRO     61523
5               CHAMARTIN     97419
6                CHAMBERI     76495
7           CIUDAD LINEAL    104158
8   FUENCARRAL - EL PARDO    127607
9               HORTALEZA    100288
10                 LATINA    104460
11      MONCLOA - ARAVACA     71011
12              MORATALAZ     45325
13     PUENTE DE VALLECAS    102693
14                 RETIRO     72094
15              SALAMANCA     89522
16  SAN BLAS - CANILLEJAS     81504
17                 TETUAN     80007
18                  USERA     58392
19              VICALVARO     35627
20      VILLA DE VALLECAS     53684
21             VILLAVERDE     68831